@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4" style="position:absolute; top:30%; left:5%; right:5%; color:ghostwhite; font-family:'Brush Script MT'">DOMINGO ROOF WORKS</h2>
    <img class="container" src="~/lib/Images/pexels-evgeny-tchebotarev-2187605.jpg"/>
</div>


